<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yu.cartoon.dao.QRCodeMapper">
    <resultMap id="BaseResultMap" type="cn.yu.cartoon.pojo.dto.QRCode" >
        <id column="qr_code_id" jdbcType="INTEGER" property="qrCodeId" />
        <result column="qr_code_funds" jdbcType="DECIMAL" property="qrCodeFunds" />
        <result column="qr_code_provider" jdbcType="TINYINT" property="qrCodeProvider" />
        <result column="qr_code_url" jdbcType="VARCHAR" property="qrCodeUrl" />
        <result column="qr_price" jdbcType="INTEGER" property="qrPrice" />
        <result column="is_freed" jdbcType="TINYINT" property="isFreed" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    </resultMap>

    <select id="selectQRCodeByPrice" parameterType="Integer" resultMap="BaseResultMap">
        select qr_code_id, qr_code_funds, qr_code_provider, qr_price from qr_code where qr_price = #{qrPrice} and is_freed = 0 and is_delete = 0 order by RAND() LIMIT 1;
    </select>

</mapper>